/derived
/*.diff
/*.log
*.swp
*~
*.suo
*.sdf
*.opensdf
core.*
core
.cproject
.project
*.VC.db
*.VC.VC.opendb
.vscode/
__pycache__/
.DS_Store
*.code-workspace
3d6f4a7ef1da6203f3aafbb3e03da1e0ccca0213.patch
